name: AutoRelease

on:
  push:
    branches: [ master ]

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up build environment
        run: sudo apt-get update && sudo apt-get install -y gcc make libncurses5-dev

      - name: Build project
        run: make build

      - name: Create release
        uses: CupOfTea696/gh-action-auto-release@v1.0.2
        with:
          title: "Release: v0.1.1a"
          tag: "v0.1.1a"
          draft: false
          regex: "/^Release: v\\d+\\.\\d+\\.\\d+[a-zA-Z]?$/i"
          changelog: "CHANGELOG"
        env:
          ACTIONS_STEP_DEBUG: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload binary to release
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/mkvextracttui
          asset_name: mkvetui
          asset_content_type: application/octet-stream
